.loader{
    width:100px;
    height:100px;
    border-radius:50%;
    border:20px olive solid;
    border-top:20px black solid;
    animation: spin 3s ease-in 0s infinite normal;
    /* for the good colors combination we can use with the coolors website */
    
}
@keyframes spin{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}
.ex{
    width:100px;
    height:100px;
    background-color:olive;
    /* we can even select which side we need border */
    border-left:3px black solid; 
    border-bottom:3px black solid;
}