div{
    background-image:url("../../practice/lovenature.jpg p4.png");
    background-color:cadetblue;
     animation-name: box;
     animation-duration:2s;
     animation-timing-function: ease-in;
     animation-delay: 2s;
     animation-iteration-count:5;
     height:100px;
     width:100px;
     margin:300px;
     display:block;
     text-align:center;
     align-content:center;
     animation-direction:normal;
    }

    /* method1 : through from and to*/
    /* @keyframes box{
        from{
            background-color:black;
            color:white;
            margin-left:0px;
        }
        to{
            background-color:greenyellow;
            margin-bottom:100px;
        }
       
    } */

    /* method2 : through % the giving percentage is our wish*/
    @keyframes box{
        0%{
            background-color:bisque;
            color:black;
            margin-top:10px;
            margin-bottom:100px;
        }
        25%{
            background-color:cadetblue;
            color:black;
            margin-top:20px;
            margin-right:100px;
        }
        50%{
            background-color:brown;
            color:black;
            margin-top:50px;
            margin-left:50px;
        }
        75%{
            background-color:chartreuse;
            color:black;
            margin-top:50px;
            margin-bottom:100px;
        }
        100%{
            background-color:crimson;
            color:black;
            margin-top:10px;
            margin-bottom:100px;
        }
    }

    
    div:active{
        background-color:crimson;
    }